<!--<a [routerLink]="/landing/356565/enquiry/kmurali"><b>Landing Page</b></a>
<router-outlet></router-outlet>-->
<div class="container-fluid mainPage graybar-header">
    <div class="row ">
        <div class="col-4">
            <a class="navbar-brand" href="#"><img src="./assets/images/logo.png" class="graybar-logo"></a>
        </div>
        <span class="col-4 headerData">
            Document Number : {{documentNumber}}
        </span>
        <span class="col-4 headerData pull-right">
            <b>{{customername}} {{shipTo}}#</b>
        </span>
    </div>
 

</div>
<br>
<div class="container">
    <div class="card">
        <div class="card-header graybar-listheader">Line items Selection Criteria</div>
        <div class="card-body">
            <div class="" id="checkList">
                <div class="row ">
                    <div class="col-6 checkboxContent" *ngFor="let item of checkBoxOptions | keyvalue">
                        <label class="container"> {{ item.value }}
        <input type="checkbox" value="{{ item.key}}">
        <span class="checkmark"></span>
      </label>


                    </div>
                </div>
                            
            </div>
        </div>
    </div>

</div>
<div class="row ">
                <div class="col-md-6">

                </div>
                <div class="col-md-1">
                    <input type="reset" class="graybar-button gray-goButton" value="Reset">
                </div>
                <div class="col-md-1">
                    <input type="button" class="graybar-button gray-goButton" value="PDF" ng-click="preview();">
                </div>
                <div class="col-md-1">
                    <input type="button" class="graybar-button gray-goButton" value="EXCEL" ng-click="export();">
                </div>
    
           <!--     <div class="col-md-2">
                    <input type="reset" class="btn btn-primary" value="Related">
                </div>
                <div class="col-md-2">
                    <input type="reset" class="btn btn-primary" value="History">
                </div>-->

            </div>

